@import 'vars.less';

.header {
    @media screen and (max-width: 768px) {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        z-index: 999;
        padding: 4% 0;
    }

    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: @gradient;
    border-bottom: @border;

    // a {
    //     text-decoration: none;

    h1 {
        text-align:center;
        a {
          @media screen and (max-width: 414px){
            text-shadow: @shadow;
          }
            color: #fff;
            text-decoration:none;
            text-shadow: -2px 2px 0px #000;
        }
    }

    // }

    input {
      @media screen and (max-width: 768px) {
          padding: 2%;
          
      }
        @media screen and (max-width: 414px) {
            padding: 3%;
            border: 1px solid #000;
        }

        padding: 1%;
        width: 80%;
        display: block;
        border-radius: 5px;
        border: @border;
        margin: 0 auto;
        // box-shadow: @shadow;
        font-size: 1em;
    }
}
