.header {
    @media screen and (max-width: 768px) {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        z-index: 999;
        padding: 4% 0;
    }

    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    // a {
    //     text-decoration: none;

    h1 {
        text-align:center;
        a {
            color: #fff;
            text-decoration:none;
            text-shadow: -3px 3px #000;
        }
    }

    // }

    input {
        @media screen and (max-width: 414px) {
            padding: 3%;
        }

        padding: 2%;
        width: 80%;
        display: block;
        border-radius: 5px;
        border: 1px solid #000;
        margin: 0 auto;
        box-shadow: -3px 3px #000;
        font-size: 1em;
    }
}