@import 'vars.less';

.loading {
  h2 {
    text-transform:uppercase;
  }
}

.search {
  display:none;
}

.search, .loading {
    margin: 3% 0 0;

    h2 {
    	@media screen and (max-width: 414px){
    		font-size: 1.5em;
        margin: 0 0 4%;
    	}
        text-align: center;
        font-size: 3em;
        line-height: 1.2em;
        // color:#fff;
        margin: 0 0 2%;
    }

    .filters {
      // color: #fff;

      label, input {
        display:block;
      }
    }

    .search-list {
        li {
            margin: 0 0 4%;

            .overlay {}

            a {
                display: flex;
                flex-wrap: wrap;
                text-decoration: none;

                img {
                    @media screen and (max-width: 414px) {
                        flex-basis: 100%;
                    }
                    border: @border;
                    flex-basis: 50%;
                }

                div {
                    @media screen and (max-width: 414px) {
                        flex-basis: 100%;
                        padding: 4%;
                        text-align: center;
                    }

                    flex-basis: 50%;
                    color: #000;
                    padding: 0 0 0 2%;
                    align-content: center;
                    display: flex;
                    flex-wrap: wrap;

                    h2,
                    p, h3 {
                      @media screen and (max-width: 1024px){
                        margin: 0 0 4%;
                      }
                        flex-basis: 100%;
                        margin: 0 0 1%;
                    }

                    h2 {
                        @media screen and (max-width: 768px) {
                            font-size: 1.5em;
                        }
                        @media screen and (max-width:414px){
                        	text-align:center;
                        }

                        font-size: 2em;
                        line-height: 1.3em;
                        text-align:left;
                    }

                    h3 {
                      span {
                        margin:0 1% 0 0;
                      }
                      a {
                        @media screen and (max-width: 768px){
                          margin: 0 2% 2% 0;
                        }
                        display: inline-block;
                        margin: 0 1% 1% 0;
                        color: #fff;
                        background: @red;
                        padding: 0.5%;
                        border-radius: 5px;
                        text-decoration: none;
                      }
                    }

                    p {}
                }
            }
        }
    }
}
